body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
}

h1 {
    text-align: center;
}

form div {
    margin-bottom: 15px;
}

label {
    display: inline-block;
    width: 100px;
}

input, textarea {
    width: calc(100% - 110px);
}
.div1{
    width: calc(100% - 100px);
}
.error {
    color: red;
    display: none;
}

.optional {
    color: gray;
}

button {
    margin-left: 100px;
}