/* Reset some default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

h1 {
    text-align: center;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 15px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 5px;
    column-gap: 10px;
    justify-content: space-between;
    max-width: auto;
    margin: 0 auto;
}

.box {
    background-color: #fff;
    border: 2px solid brown;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    flex: 1;
    min-width: 300px;
}

.box:hover {
    border: 5px solid green;
    border-radius: 30px;
}
.text::selection {
    background-color: yellowgreen;
    color: white;
}

@media (max-width: 768px) {
    .box {
        flex-basis: calc(50% - 20px);
    }
}

@media (max-width: 576px) {
    .box {
        flex-basis: calc(100% - 20px);
    }
}
.div1{
    text-align: center;
}
.div2 {
    text-align: justify;
    letter-spacing: 7px;
    color: rgb(226, 43, 43);
    text-shadow: 2px 2px 4px #000000;
    font-family:'Courier New', Courier, monospace;
}
.div3 {
    text-align: justify;
    letter-spacing: -1px;
    color:chocolate;
    font-family:'Times New Roman', Times, serif;
    padding-top: 10px;
}
.div4 {
    margin-top: 10px;
    padding: 5px;
    line-height: 50px;
    color:coral;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.div5 {
    text-align: justify;
    word-spacing: 10px;
    color:blue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display:block;
    margin-top: -5px;
    margin-bottom: -5px; 
}
.div6 {
    font-style: oblique;
    font-size: 16px;
    white-space: pre-line;
    color:black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.div7 {
    text-align: justify;
    letter-spacing: 16px;
    color:darkgray;
    text-transform: capitalize;
    text-shadow: 1px 1px red;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.div8 {
    text-align: justify;
    letter-spacing: 5px;
    color:crimson;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 66px; 
}
.div9 {
    display:block;
    padding-top: 150px;
    text-align: justify;
    color:darkblue;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.div10 {
    display:block;
    padding-top: 50px;
    text-align: justify;
    color:darkcyan;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.div11 {
    text-align: justify;
    font-style: italic;
    color:darkgoldenrod;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.div12 {
    text-align: center;
    color:darkgreen;
    text-shadow: 2px 2px 4px #000000;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.div13{
    padding: 55px 15px 15px 15px;
    text-align: justify;
    letter-spacing: 7px;
    color: rgb(226, 43, 43);
    text-shadow: 2px 2px 4px #000000;
    font-family:'Courier New', Courier, monospace;
}
.div14 {
    text-align: justify;
    letter-spacing: 3px;
    color:darkturquoise;
    font-family:fantasy;
    text-decoration: line-through;
}
.div15 {
    text-align: right;
    letter-spacing: 3px;
    color:deepskyblue;
    font-family:monospace;
    text-decoration: underline overline;
}
.div16 {
    text-align: justify;
    letter-spacing: 3px;
    color:lightsteelblue;
    font-family:unset;
    text-transform: uppercase;
}