h1{
    text-align: center;
}
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid rgb(12, 11, 11);
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #847878;
  }
  
  #cell1 {
    background-color: #FF0000; 
    color: white;
  }
  
  #cell2 {
    background-color: #CC0000;
    color: white;
  }
  #cell3 {
    background-color: rgb(163, 0, 0); 
    color: white;
  }
  #cell4 {
    background-color: hsla(0, 100%, 60%, 0.9); 
    color: white;
  }
  #cell5 {
    background-color: Tomato; 
    color: white;
  }
  #cell6 {
    background-color: #CC4F39; 
    color: white;
  }
  #cell7 {
    background-color: rgb(255, 130, 108); 
    color: white;
  }
  #cell8 {
    background-color: hsla(9.15, 100%, 76.86%,0.9); 
    color: white;
  }
  #cell9 {
    background-color: orange; 
    color: white;
  }
  #cell10 {
    background-color: #CC8400; 
    color: white;
  }
  #cell11 {
    background-color: rgb(255, 183, 51); 
    color: white;
  }
  
  #cell12 {
    background-color: hsla(38.65, 100%, 68.04%, 0.9); 
    color: white;
  }
  #cell13 {
    background-color: Green;
    color: white;
  }
  #cell14 {
    background-color: #006600; 
    color: white;
  }
  #cell15 {
    background-color: rgb(0, 82, 0); 
    color: white;
  }
  #cell16 {
    background-color: hsla(120, 39.29%, 32.94%, 0.9); 
    color: white;
  }
  #cell17 {
    background-color: MediumSeaGreen; 
    color: white;
  }
  #cell18 {
    background-color: #308F5A; 
    color: white;
  }
  #cell19 {
    background-color: rgb(38, 114, 72);
    color: white;
  }
  #cell20 {
    background-color: hsla(147.54, 27.35%, 43.73%, 0.9); 
    color: white;
  }
  #cell21 {
    background-color: SlateBlue; 
    color: white;
  }
  
  #cell22 {
    background-color: #5548A4; 
    color: white;
  }
  #cell23 {
    background-color: rgb(68, 58, 131); 
    color: white;
  }
  #cell24 {
    background-color: hsla(248.14, 23.32%, 49.61%, 0.9);
    color: white;
  }
  #cell25 {
    background-color: Violet;
    color: white;
  }
  #cell26 {
    background-color: #BE68BE; 
    color: white;
  }
  #cell27 {
    background-color: rgb(152, 83, 152);
    color: white;
  }
  #cell28 {
    background-color: hsla(300, 25.45%, 56.86%, 0.9); 
    color: white;
  }
  #cell29 {
    background-color: OliveDrab; 
    color: white;
  }
  #cell30 {
    background-color: #56721C; 
    color: white;
  }
  #cell31 {
    background-color: rgb(69, 91, 22); 
    color: white;
  }
  
  #cell32 {
    background-color: hsla(79.64, 28.5%, 37.84%, 0.9);
    color: white;
  }
  #cell33 {
    background-color: MediumTurquoise; 
    color: white;
  }
  #cell34 {
    background-color: #3AA7A3; 
    color: white;
  }
  #cell35 {
    background-color: rgb(46, 134, 130); 
    color: white;
  }
  #cell36 {
    background-color: hsla(177.43, 28.46%, 48.24%, 0.9); 
    color: white;
  }
  #cell37 {
    background-color: dodgerblue; 
    color: white;
  }
  #cell38 {
    background-color:#4BA6FF; 
    color: white;
  }
  #cell39 {
    background-color: rgb(60,150,255); 
    color: white;
  }
  #cell40 {
    background-color: hsla(209.6, 100%, 55.88%, 0.6);
    color: white;
  }