body {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  #output {
    margin-top: 20px;
  }
  h1{
    text-align: center;
    font-style: oblique;
  }
  p{
    font-size: 30px;
    text-align: left;
    font-family:'Times New Roman', Times, serif;
    padding-top: 50px;
  }